 .u-section-1 {
  min-height: 543px;
}

.u-section-1 .u-image-1 {
  height: 519px;
  margin-top: -27px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 429px;
  height: 323px;
  margin: -441px auto 60px calc(((100% - 1140px) / 2) + 305px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-top: -442px;
    margin-left: calc(((100% - 940px) / 2) + 305px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 291px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 111px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 476px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 256px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: url("images/Smart-Fit-anunci-la-apertura-de-sucursales-en-San-Jos-de-Costa-Rica.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 564px;
}

.u-section-2 .u-text-1 {
  margin: 63px auto 0;
}

.u-section-2 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-6 {
  width: 375px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 458px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 37px auto 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}